# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PhysiCell output folder
output/

# PCStudio debug log
studio_debug.log

# PhysiCell copies
PhysiCell copy

# compiled project
project
project_amd
project_intel

# my jupyter notebooks
*.ipynb

# log files
*.log

# .DS_Store for MacOS
*.DS_Store

# pcvct stuff
*.db
compilation.err
compilation.log
outputs
variations
rulesets_variation_*.xml

# misc
.vscode
*.zip

# do not commit h5ad (big files)
*.h5ad
